@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  /* color: var(--foreground);
  background: var(--background); */
  background-image: url("/game/BG_Hamster_NEW.png");
  background-color: #171717;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  font-family: Arial, Helvetica, sans-serif;
}
